language: python
dist: xenial   # required for Python >= 3.7
python:
  - "3.7"

install:
  - pip install pytest
  - pip install pytest-cov
  - pip install codecov

script:
  - pytest
  - pytest --cov=./

after_success:
  # Upload coverage data to codecov
  - codecov
